.statusButton {
    display: flex;
    justify-content: center; /* Centraliza horizontalmente */
    align-items: center; /* Centraliza verticalmente */
    margin-top: 10px; /* Espaço extra opcional */
  }
  